.movie-list {
  position: relative;
}

.movie-row {
  margin-left: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.movie-row > h3 {
  color: ghostwhite;
  margin-bottom: 1rem;
}

.movie-row__item {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: 1.5rem;
  padding: 0.5rem;
}

.movie-row__item::-webkit-scrollbar {
  background: #666;
  height: 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.movie-row__item::-webkit-scrollbar-thumb {
  background: #444;
}

.movie-row__item::-webkit-scrollbar-thumb:hover {
  background: #222;
  cursor: pointer;
}
